// brand colors
$purple: slateblue;

@font-face {
	font-family: 'Comfortaa';
	src: url(../resources/fonts/Comfortaa.ttf);
}

// update Bulma's global variables
$family-sans-serif: 'Comfortaa', sans-serif;
$primary: $purple;
$link: $primary;

// import Bulma
@import '../../node_modules/bulma/bulma.sass';

// ------------------------------ custom styles -------------------------------

// disable selecting (highlighting)
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before,
input[type='submit'] {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

// disable dragging
a:not([draggable='true']),
img:not([draggable='true']) {
	-webkit-user-drag: none;
	user-drag: none; /* Technically not supported in Electron yet */
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
	-webkit-user-drag: auto;
	user-drag: auto; /* Technically not supported in Electron yet */
}

// full-screen loading animation
#loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;

	.loader {
		height: 80px;
		width: 80px;
	}

	&.is-active {
		opacity: 0.5;
		z-index: 1;
	}
}

#navbar {
	margin-bottom: 0;
}

html,
body {
	height: 100vh;
	overflow: hidden;
}

section {
	height: 100%;
	overflow-y: scroll;
}

.pp-icon {
	height: $icon-dimensions;
	width: $icon-dimensions;
	background-color: $text;
	-webkit-mask-size: cover;
}

.tabs {
	li a:hover .pp-icon {
		background-color: $text-strong;
	}

	li.is-active a .pp-icon {
		background-color: $link;
	}
}
