// update Bulma's global variables
$primary: DodgerBlue;
$link: $primary;
$section-padding: 3rem;
$body-min-width: 200px;

// import Bulma and dark mode
@import '~bulma/bulma.sass';
@import '~bulma-prefers-dark/bulma-prefers-dark.sass';

// ------------------------------ custom styles -------------------------------

// disable selecting text not in a textbox
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before,
input[type='submit'] {
	-webkit-user-select: none;
	user-select: none;
	cursor: default !important;
}

// disable dragging
a:not([draggable='true']),
img:not([draggable='true']) {
	-webkit-user-drag: none;
	user-drag: none; /* Technically not supported in Electron yet */
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
	-webkit-user-drag: auto;
	user-drag: auto; /* Technically not supported in Electron yet */
}

html {
	font: caption;
	font-size: 14px;
}

html,
body {
	height: 100vh;
	overflow: hidden;
}

// textbox highlight color
::selection {
	background: rgba($primary, 0.5);
}

// full-screen overlays
.full-screen-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

// full-screen loading animation
#loader {
	background: black;

	.loader {
		height: 80px;
		width: 80px;
	}
}

// full-screen drop zone
#drop-zone {
	background: rgba($primary, 0.75);
}

#navbar {
	margin-bottom: 0;
}

section {
	height: 100%;
	overflow-y: auto;
}

.pp-icon {
	height: $icon-dimensions;
	width: $icon-dimensions;
	background-color: $text;
	-webkit-mask-size: cover;
}

.tabs {
	li a:hover .pp-icon {
		background-color: $text-strong;
	}

	li.is-active a .pp-icon {
		background-color: $link;
	}
}

// ------------------------------ dark mode -------------------------------

@media (prefers-color-scheme: dark) {
	.tabs {
		li a .pp-icon {
			background-color: $text-dark;
		}

		li a:hover .pp-icon {
			background-color: $text-strong-dark;
		}

		li.is-active a {
			color: $link;

			.pp-icon {
				background-color: $link;
			}
		}
	}
}
